$theme-colors: (
	"primary": #3e1886,
	"bar-yes": #2c8f31,
	"bar-no" : #c21a23,
	"welcome-message" : #a07373,
	"main-block" : white
);

$body-bg:  rgb(236, 236, 235);
$btn-border-radius: 0px;

// import must be after variables overrides



// general style overrides and custom classes
body {
	font-family: 'Verdana', sans-serif;
}

.questions-table tr {
	cursor: pointer;
}

.main-block {
	background-color: theme-color("main-block");
}

//helpers

.mt-1 {
	margin-top: 1em;
}

.mt-2 {
	margin-top: 2em;
}

.mt-3 {
	margin-top: 3em;
}

.mt-5 {
	margin-top: 5em;
}

.p-2 {
	padding: 2em;
}
.py-2 {
	padding-top: 2em;
	padding-bottom: 2em;
}

.py-3 {
	padding-top: 3em;
	padding-bottom: 3em;
}


.py-5 {
	padding-top: 5em;
	padding-bottom: 5em;
}

.pb-2 {
	padding-bottom: 2em;
}

.ml-3 {
	margin-left: 3em;
}
.p-2 {
	padding: 2em;
}

.pb-5 {
	padding-bottom: 5em;
}